* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.layout {
    width: 100%;
  
    display: flex;
    gap: 16px;
  }
  
  .grow1 { flex-grow: 1; }

  .container {
    width: 80%;
    margin: 20px auto;
}



h1 {
    font-size: 2em;
    margin-bottom: 10px; /* Agrega un margen inferior de 10px a los elementos h1 y h2 */
}

h2 {
    font-size: 1.5em;
}

p, ul, li {
    
    line-height: 1.6;
    margin-bottom: 20px; /* Agrega un margen inferior de 20px a los párrafos */
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec00;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 11110px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.75rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: first baseline;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

  /* Estilos para el modo oscuro */
  body.dark-mode {
    background-color: #333;
    color: #fff;
}

  /* Estilos checkbox modo oscuro */
  .flipswitch {
    position: absolute;
    right:15px;
    width: 90px;
  }
  
  .flipswitch input[type=checkbox] {
    display: none;
  }
  
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 50px;
  }
  
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .flipswitch-inner:before {
    content: "ON";
    padding-left: 18px;
    background-color: #437A99;
    color: #FFFFFF;
  }
  
  .flipswitch-inner:after {
    content: "OFF";
    padding-right: 18px;
    background-color: #FFFFFF;
    color: #437A99;
    text-align: right;
  }
  
  .flipswitch-switch {
    width: 35px;
    margin: -2.5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 67px;
    transition: all 0.3s ease-in 0s;
  }
  
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }
  

  
  body {
    


    .footer {
        z-index: 1;
        --footer-background:#000000;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:12rem;
        .bubbles {
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:1rem;
            background:var(--footer-background);
            filter:url("#blob");
            .bubble {
                position: absolute;
                left:var(--position, 50%);
                background:var(--footer-background);
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
            }
        }
        .content {
            z-index: 2;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding:2rem;
            background:var(--footer-background);
            a, p {
                color:#F5F7FA;
                text-decoration:none;
            }
            b {
                color:white;
            }
            p {
                margin:0;
                font-size:.75rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.25rem 0;
                    >* {
                        margin-right:.5rem;
                    }
                }
                .image {
                    align-self: center;
                    width:4rem;
                    height:4rem;
                    margin:0.25rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }

    
}

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
}

